 * {
margin: 0px; 
padding: 0px; 
box-sizing: border-box;
}
 
body {
height: 70vh;
display: flex;
align-items: center;
justify-content: center;
background: #E5E5E5;
}
 
.logo{

  position: absolute;
  top: 30px;
  left: 30px;
}


h1{
  position: absolute;
  color: red;
  top: 120px;
  left: 20px;
}

.texto1{
  top: 168px;
}

textarea{
font-size: 25px;
border-radius: 10px;
border: none;
padding: 20px;
}


button {
font-size: 25px;
border-radius: 10px;
border: none;
padding: 20px;
}
  
 
.btn1 {
margin-left: 10px;
background-color: #red;
color: white;
text-transform: uppercase;
transition: 0.3s;
}


button:hover {
background-color: #0A3871;
transition: 0.3s;
}

.dev{
  position: absolute;

  top: 450px;
  left: 35px;
}